@import '@hitchhub/theme-default/theme.css';
@import '@hitchhub/theme-default/tailwind.css';
@import '@hitchhub-react/ds/styles.css';

html,
body,
#storybook-root {
  min-height: 100%;
  margin: 0;
}
